.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.item {
  padding: 35px;
}

.btn {
  font-size: 25px;
  color: white;
  border-radius: 5px;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  background-color: blue;
}
