.Stat__feedback {
  padding: 10px;
  text-align: start;
}

.Stat__title {
  margin-bottom: 16px;
}
.Stat__feedback > button {
  border: none;
  padding: 5px 30px;
  color: white;
  font-weight: 600;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 24px;
  border-radius: 5px;
  background-color: blue;
}

.Stat__feedback > button:active {
  box-shadow: 2px 5px 2px 2px rgb(0 0 0/0.1);
}

.Statistic__wrap {
  width: 400px;
  padding: 10px;
  text-align: start;
}
.Statistic__title {
  margin-bottom: 8px;
}
.Grid {
  display: flex;
  flex-direction: column;
  grid-gap: 8px;
}
.Statistic__text {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 6px;
}
.Statistic__count {
  padding: 0 8px;
  color: black;
}
